@layer components {
  .toast:not([data-exiting="true"]):not([data-hidden="true"]):is(
      [data-frontmost="true"],
      [data-expanded="true"]
    )
    [data-slot="toast-close"] {
    pointer-events: auto;
    opacity: 1;
    width: 32px;
    height: 32px;
  }
}
